body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(oi.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

fieldset {
    border: none;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #ab1616;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #f39797;
}


.coupon-list {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.coupon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.remove-button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-button:hover {
    background: #c82333;
}
