/* Posiciona o botão de voltar no canto superior esquerdo */
.button.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ab1616;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button.voltar:hover {
    background: #f39797;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(tela1.jpg); 
    background-size: cover; 
    background-position: center; 
    
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

fieldset {
    border: none;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #ab1616;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background:  #f39797;
}



