body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    background-image: url(tela1.jpg);
    background-size: cover; 
    background-position: center; 
}

h1 {
    margin-bottom: 20px;
    color:#ffffff;
}

p {
    color:#ffffff;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    background: #ab1616;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.button:hover {
    background: #f39797;
}

.button-container .button:last-child {
    position: absolute;
    top: 20px;
    right: 20px;

}

.logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: -5px;
    left: 20px;
    transform: translateX(-15%); 
    
}


