
.button.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ab1616;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button.voltar:hover {
    background: #f39797;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(tela1.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}


.empresa-info {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
}


.cupons {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
}

.coupon-list {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.coupon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.remove-button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-button:hover {
    background: #c82333;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
